<h1>New Video</h1>

<%= render "form.html", changeset: @changeset, categories: @categories,
  action: Routes.video_path(@conn, :create) %>

<span><%= link "Back", to: Routes.video_path(@conn, :index) %></span>
